.navbar{
    background-color: white;
}

a.navbar-brand {
    padding: 10px; 
    background-color: #0bada6;
    color: green;
	font-family: "Times New Roman";

} 

#pokemon{
    color: white;
}


body{
    background-color:#EDEDED;
}

.wrapper {
    column-count: 1;
    column-gap: 50px;
    padding: 50px;
}
  
p.summery {
    color: grey;
    font-family: Helvetica;
    margin: 0;
    font-size: 14px;
}

img.img-summery{
    float: left;
    width: 66.67%;
    height: 66.67%;
    margin: 0px 0px 0px 0px;
}

img.img-others{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    float: right;
}

h1 h2 {
    color: grey;
}