.navbar{
    background-color: white;
}

a.navbar-brand {
    padding: 10px; 
    background-color: #0bada6;
    color: green;
	font-family: "Times New Roman";

} 

#pokemon{
    color: white;
}


body{
    background-color:#EDEDED;
}

.wrapper {
    column-count: 1;
    column-gap: 50px;
    padding: 50px;
}
  
p.summery {
    color: grey;
    font-family: Helvetica;
    margin: 0;
    font-size: 14px;
}

img.img-summery{
    float: left;
    width: 66.67%;
    height: 66.67%;
    margin: 0px 0px 0px 0px;
}

img.img-others{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    float: right;
}

h1 h2 {
    color: grey;
}
h2.data{
    color: #0bada6;
	font-family: "Times New Roman";
}

h3.data{
    color: #0bada6;
    font-family: "Times New Roman";
    text-align:center
}

table{
    text-align: center;
    width:100%; 
}

th {
    background-color: #0bada6;
    color: white;
  }
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}
tr {
    text-align: center;
}

.column-viz {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column-viz img {
    margin-top: 8px;
    vertical-align: middle;
  }

@media(max-width: 992px) {
    .navbar-expand{
        background-color: #0bada6;
    }

    .navbar{
        max-height: none;
        padding: inherit;
    }
}

@media (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	

	td:nth-of-type(1):before { content: "City_ID"; }
	td:nth-of-type(2):before { content: "City"; }
	td:nth-of-type(3):before { content: "Cloudiness"; }
	td:nth-of-type(4):before { content: "Country"; }
	td:nth-of-type(5):before { content: "Date"; }
	td:nth-of-type(6):before { content: "Humidity"; }
	td:nth-of-type(7):before { content: "Lat"; }
	td:nth-of-type(8):before { content: "Lng"; }
	td:nth-of-type(9):before { content: "Max Temp"; }
	td:nth-of-type(10):before { content: "Wind Speed"; }
}

img.img-data{
    width: 50%;
    height: 50%;
}


@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  } 
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .card a img {
    height: auto;
    width: 100%;
    vertical-align:center;
  }

  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    vertical-align:center;
  }

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .card-single img {
    height: 100%;
    width: 100%;
    vertical-align:center;
  }

  .cards-single {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    vertical-align:center;
  }